.vscode/**
.vscode-test/**
.github/**
.superpowers/**
plans/**
scripts/**
out/**
node_modules/**
src/**
features.md
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.vscode-test*.mjs
